* {
    box-sizing: border-box;
}

body {
    background-image: url('./image/michael.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

#content {
    padding-left: 100px;
}


p{
    
    display: inline;
    padding: 5px;
}

section {
    padding: 10px;
}